.title-section {
    display: flex;
    justify-content: center;

    h1 {
        font-weight: bold;
        font-size: 3rem !important;
        width: 70%;
        text-align: center;
    }
}


.box-container {
    height: 100%;
    .box {
        padding: 50px;
        font-weight: 100;

        ul {
            list-style-type: circle;
            margin-left: 15px;
        }

        h2 {
            font-size: 1.4rem;
            font-weight: bold;
            padding: 0 0 10px 0;
        }
    }

    .red-box {
        background-color: #FEE7E8;
        border: 5px solid #ec003b80;
        color: #BC5468;

        h2 {
            color: #b92c44;
        }
    }

    .green-box {
        background-color: #DAFCE9;
        border: 5px solid #10926080;
        color: #1E6B4E;

        h2 {
            color: #468269;
        }
    }
}

.dashboard-section
{
    min-height: 100vh;
    width: 100%;
}

.container {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

.main-dashboard-section {
    background-color: #F7F8FD;
    text-align: center;

    .title-section {
        min-height: 95vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p {
        max-width: 50%;
    }

    ul {
        text-align: left;
        list-style-type: circle;
    }
}

.dashboard-cta {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    color-scheme: light;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --p: 161 93% 35%;
    --pc: 0 0% 100%;
    --s: 314 100% 47%;
    --sc: 314 100% 91%;
    --a: 197 85% 18%;
    --ac: 0 0% 100%;
    --n: 210 43% 95%;
    --nc: 235 12% 21%;
    --b1: 0 0% 100%;
    --b2: 228 56% 98%;
    --b3: 210 23% 90%;
    --bc: 235 12% 21%;
    --pf: 161 93% 27%;
    --af: 197 85% 30%;
    --rounded-btn: 0.5rem;
    font-family: __Gabarito_c39254;
    font-style: normal;
    --rt-color-white: #fff;
    --rt-color-dark: #222;
    --rt-color-success: #8dc572;
    --rt-color-error: #be6464;
    --rt-color-warning: #f0ad4e;
    --rt-color-info: #337ab7;
    --rt-opacity: 0.9;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    text-decoration: inherit;
    text-transform: capitalize!important;
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1)!important;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color)!important;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important;
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-duration: .2s;
    border-radius: var(--rounded-btn,.5rem);
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    line-height: 1em;
    min-height: 3rem;
    gap: .5rem;
    font-weight: 600;
    text-decoration-line: none;
    border-width: var(--border-btn,1px);
    animation: button-pop var(--animation-btn,.25s) ease-out;
    --tw-border-opacity: 1;
    border-color: hsl(var(--p)/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc)/var(--tw-text-opacity));
    outline-color: hsl(var(--p)/1);
    width: 16rem!important;
}

.dashboard-pricing {
    background-color: #F7F8FD;

    .pricing-box {
        border-radius: 10px;
        padding: 50px;
        background-color: white;

        ul {
            margin: 10px 0 15px 15px;
            list-style-type: circle;
        }

        .old {
            color: rgba(0, 0, 0, 0.486);
        }

        .new {
            font-size: 2rem;
            font-weight: bolder;
        }

        .currency {
            font-size: .8rem;
            color: rgba(0, 0, 0, 0.486);

            align-self: flex-end;
            font-weight: bold;
        }

        .dashboard-cta {
            margin: 0 0 10px 0;
        }

        p.side-note {
            font-size: .8rem;
            text-align: center;
            color: rgba(0, 0, 0, 0.7);
        }
    }

    .pricing-left {
        border: 2px solid rgba(2, 185, 2, 0.4);
    }

    .pricing-right {
        border: 3px solid rgba(2, 185, 2, .8);
    }
}
